<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Réinitialiser le mot de passe</h2>
<form method="post">
    {% csrf_token %}
    <label for="new_password1">Nouveau mot de passe :</label>
    <input type="password" name="new_password1" required>
    <label for="new_password2">Confirmer le nouveau mot de passe :</label>
    <input type="password" name="new_password2" required>
    <button type="submit">Changer le mot de passe</button>
</form>

</body>
</html>